@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css or src/App.css */
@font-face {
    font-family: 'TENADA';
    src: url('./assets/Tenada.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html {
    scroll-behavior: smooth;
}

